<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulateur de Pile ou face</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Teko:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/settings.css">
    <link rel="stylesheet" href="assets/css/simulation.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/components.js" defer></script>
    <script src="assets/js/app.js" defer></script>
</head>

<body>
    <div id="app">
        <app-section title="Paramètres" id="settings" v-if="section == 'settings'">
            <div class="settings-block" id="throws">
                <div>Nombre de lancers : <input type="number" v-model.number="simulationSettings.throws"
                        :value="simulationSettings.throws"></div>
            </div>
            <div class="settings-block" id="interval">
                <div>Interval de temps entre chaque lancer (ms) : <input type="number"
                        v-model.number="simulationSettings.interval" :value="simulationSettings.throws"></div>
                <div
                    title="La durée réelle varie en fonction de l'ordinateur. Elle est souvent bien plus élevée que la durée minimum.">
                    Durée minimum de la simulation<sup>*</sup> : <b v-html="minDuration"></b></div>
            </div>
            <div class="settings-block" id="displays">
                <h1>Informations à afficher durant la simulation</h1>
                <i>L'impact des différents affichages sur la vitesse de la simulation est indiqué entre parenthèses.</i>
                <div>Histogramme <i>(Moyen)</i> : <input type="checkbox" v-model="displayedInfo.histogram"></div>
                <div>Historique textuel <i>(Haut)</i> : <input type="checkbox" v-model="displayedInfo.stringHistory"></div>
                <div>Historique coloré <i>(Haut)</i> : <input type="checkbox" v-model="displayedInfo.colorHistory"></div>
                <div>Statistiques principales <i>(Faible)</i> : <input type="checkbox" v-model="displayedInfo.mainStats"></div>
                <div>Statistiques secondaires <i>(Faible)</i> : <input type="checkbox" v-model="displayedInfo.streaks"></div>
            </div>
            <div class="settings-block" id="color">
                <div>Couleur des Piles : <input type="color" v-model="simulationSettings.tailsColor" /></div>
                <div>Couleur des Faces : <input type="color" v-model="simulationSettings.headsColor" /></div>
            </div>

            <button class="section-corner-button" id="startSimulation" @click="initSimulation($event)">Démarrer</button>
        </app-section>
        <app-section title="Simulation" id="simulation" v-if="section == 'simulation'">
            <div id="simulation-legend">
                <div><span class="legend-color-block" v-bind:style="{background: simulationSettings.tailsColor}"></span>:&nbsp;<b>Piles</b></div>
                <div><span class="legend-color-block" v-bind:style="{background: simulationSettings.headsColor}"></span>:&nbsp;<b>Faces</b></div>
            </div>
            <div id="simulation-top-info">
                <div id="timer"></div>
                <div id="coinsCount">
                    <div id="coinsThrown"> Lancées : <b>{{ simulationData.thrownCoins }}</b></div>
                    |<div id="coinsLeft"> Restantes :
                        <b>{{ (simulationSettings.throws == 0) ? "∞" : simulationSettings.throws - simulationData.thrownCoins }}</b>
                    </div>
                </div>
            </div>
            <histogram id="simulation-histogram" v-bind:data="this" v-if="displayedInfo.histogram"></histogram>
            <div id="simulation-stats" v-if="displayedInfo.mainStats">
                <div class="stat-block" id="basicCounts">
                    <div>Piles : <b>{{ simulationData.tails.count }}</b></div>
                    <div>Faces : <b>{{ simulationData.heads.count }}</b></div>
                </div>
                <div class="stat-block" id="otherStats">
                    <div>Différence : <b>{{ Math.abs(simulationData.tails.count - simulationData.heads.count) }}</b></div>
                    <div title="Nombre de fois qu'il y a eu autant de piles que de faces">50-50 <sup>*</sup>: <b>{{ simulationData.fiftyFifty }}</b></div>
                </div>
            </div>
            <div id="simulation-streaks" v-if="displayedInfo.streaks">
                <div class="stat-block" id="streaks">
                    <div>Piles de suite : <b>{{ simulationData.tails.streak }}</b></div>
                    <div>Faces de suite : <b>{{ simulationData.heads.streak }}</b></div>
                </div>
                <div class="stat-block" id="highestStreaks">
                    <div>Plus longue série de piles : <b>{{ simulationData.tails.highestStreak }}</b></div>
                    <div>Plus longue série de faces : <b>{{ simulationData.heads.highestStreak }}</b></div>
                </div>
            </div>
            <textarea v-bind:value="simulationData.historyString" id="simulation-textarea" v-if="displayedInfo.stringHistory"></textarea>
            <div id="simulation-color-history" v-if="displayedInfo.colorHistory"></div>
            <button class="section-corner-button" @click="stopSimulation()">Arrêter</button>
        </app-section>
    </div>
</body>

</html>
