body {
    margin: 0;
}
*[title] {
    cursor: help;
}
#root .app-section {
    box-sizing: border-box;
    position: fixed;
    display: none;
    width: 95%;
    height: 90%;
    top: 5%;
    left: 2.5%;
    border: 1px solid #000;
}

#root .app-section.displayed {
    display: block;
    animation: fadeIn .5s ease;
}

@keyframes fadeIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
}

#root .app-section .app-section-title {
    font: 30pt "Teko";
    background-color: #000;
    display: table;
    color: #fff;
    padding: 0 20px;
}

#root .app-section .section-corner-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

#root .app-section .section-corner-button {
    font: 20pt "Teko";
    border: 3px solid #000;
    border-bottom-width: 2px;
    background: transparent;
    outline: 0;
    cursor: pointer;
    margin: 0 10px;
    transition: .1s ease;
}

#root .app-section .section-corner-button:hover {
    background: #000;
    color: #fff;
}

#root #app-title {
    font: italic 20pt "Teko";
    text-align: center;
}

#root #app-version {
    position: fixed;
    bottom: 0;
    font: 10pt "Roboto Mono";
    color: #fff;
    background: #00000050;
    padding: 2px 5px;
}

#root #dev-links {
    position: fixed;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 5px;
    right: 0;
}
#root #dev-links #dev-links-sentence {
    font: italic 12pt "Roboto";
}
#root #dev-links .dev-link {
    width: 26px;
    height: 26px;
    margin: 0 5px;
    background: center center / contain;
    transition: opacity .1s ease;
}
#root #dev-links .dev-link:hover {
    opacity: .7;
}
#root #dev-links .dev-link#github {
    background-image: url(../img/github.png);
}
#root #dev-links .dev-link#twitter {
    background-image: url(../img/twitter.png);
}