
#root .app-section#settings .parameter-line {
    margin: 10px 0;
    font: 12pt "Roboto Mono";
}

#root .app-section#settings .parameter-line input {
    width: 80px;
}
#root .app-section#settings .parameter-line input[type="letter"] {
    width: 10px;
}
