#simulation #simulation-legend div {
    display: flex;
    flex-direction: row;
    font: 12pt "Roboto";
    margin: 10px 5px;
}
#simulation #simulation-legend div span {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-right: 3px;
}

#simulation #simulation-top-info {
    position: absolute;
    background: #eee;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}
#simulation #simulation-top-info #coinsCount {
    display: flex;
    justify-content: space-around;
}
#simulation #simulation-top-info #coinsCount div {
    margin: 0 10px;
    font: 12pt "Roboto Mono";
}
.histogram {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 400px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.histogram .tails,
.histogram .heads {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    white-space: nowrap;
}
.histogram .tails b,
.histogram .heads b{
    position: absolute;
    transform: rotate(-90deg);
    font: 14pt "Roboto Mono";
    color: #fff;
}
#simulation #simulation-stats {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 350px;
    left: 500px;
    height: 50px;
    background: #eee;
    width: 250px;
    padding: 0 10px;
}
.stat-block div {
    font: 8pt "Roboto Mono";
}
#simulation #simulation-textarea {
    box-sizing: border-box;
    border: none;
    resize: none;
    position: absolute;
    bottom: 0;
    left: 501px;
    height: 350px;
    width: 250px;
    overflow-y: scroll;
}

#simulation #simulation-color-history {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 750px;
    width: 352px;
    height: 350px;
    border: 1px solid #eee;
    line-height:0;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#simulation #simulation-color-history::-webkit-scrollbar {
    width: 0px;
}
#simulation #simulation-color-history > div {
    width: 25px;
    height: 25px;
    margin: 0;
    background-color: red;
    display: inline-block;
}

#simulation-streaks {
    box-sizing: border-box;
    position: absolute;
    width: 352px;
    height: 50px;
    left: 750px;
    bottom: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 10px;
}